<section>
   <hr>
   <h3>Reglas del Juego</h3>
   <ol>
      <li>Debes ir marcando las bolas que salen</li>
      <li> Ganas con las siguientes figuras</li>
      <img src="https://github.com/HelloStan13/paginaweb1/blob/main/bingo%20ganar1.png?raw=true" height="300px" width="400px" class="rounded float-right" alt="como ganar "  >
      <li>Si tienes alguna figura ya lista da click en GANÉ</li>
      <li>Si das click en GANÉ y te falta alguna bola quedas DESCALIFICADO DEL JUEGO</li>
   </ol>
   <br>
   <div class="text-center">
      <h3>¡PRUEBA TU SUERTE!</h3>
      <img src="https://thumbs.dreamstime.com/b/bolas-del-bingo-17846216.jpg" height="200px" width="500px" class="rounded float-right">
   </div>
   <div class="text-center">
      <a class="btn btn-primary btn-lg" href="/users/gameSala" role="button">Juega</a>
   </div>
   <br>
   <br>
</section>
<script>
   var obj = String(document.getElementById("userstr").value).replace('{',).replace('}');
   var objUser = obj.split(',');
   var userName = objUser[3].split(':');
   var nombre=(userName[1]);
   var nuevoNombre= nombre.substring(2, nombre.length - 1);
   // alert(userName[1]);
   
   const data = new FormData();
   data.append('nombre', nuevoNombre);
   data.append('tipoDocumento', 'CC');
   data.append('documento', '6666666');
   data.append('estado', 1);
   fetch('http://localhost:9090/user', {
   method: 'POST',
   body: data
   })
   .then(function(response) {
   if(response.ok) {
       return response.text()
   } else {
       throw "Error en la llamada Ajax";
   }
   
   })
   .then(function(texto) {
   console.log(texto);
   })
   .catch(function(err) {
   console.log(err);
   }); 
</script>